<div class="card w-25 m-3">
    <div class="card-body">
    <h5 class="card-title">{{poliza.numero}}</h5>
    <p class="card-text mb-0"><b>Nombre:</b> {{poliza.asegurado.nombre}}</p>
    <p class="card-text mb-0"><b>Documento:</b> {{poliza.asegurado.documento}}</p>
    <p class="card-text mb-0"><b>Fecha Inicio:</b> {{poliza.fecha_inicio}}</p>
    <p class="card-text mb-2"><b>Fecha Fin:</b> {{poliza.fecha_fin}}</p>
    <a href="../gestion_asegurados/detalle_asegurados/{{asegurado.id}}" class="btn btn-primary">Certificados</a>
    <a href="../gestion_asegurados/cartera_asegurados/{{asegurado.id}}" class="btn btn-primary">Pólizas</a>
    </div>
</div>